:root {
  --color-black: #121212; /* Set your primary color here */
  --color-white: #ffffff;
}

.hero {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  