.carousel-container {
    position: relative;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #28a745; /* Green background */
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.left-nav-button {
    left: -24px;
}

.right-nav-button {
    right: -24px;
}

.nav-button svg {
    fill: none;
    stroke: white;
    stroke-width: 2;
}
